<h1> Pick your F(l)ights! </h1>

<%= form_for @flight, url: flights_path, method: :get do |f| %>
  <%= f.label "From" %>
  <%= select_tag :to_airport_id, options_from_collection_for_select(Airport.all, :id, :code)  %>
  <%= f.label "To" %>
  <%= select_tag :to_airport_id, options_from_collection_for_select(Airport.all, :id, :code)  %>
  <%= select_tag :flight_date, options_from_collection_for_select(Flight.select('DISTINCT flight_date'), :flight_date, :flight_date) %>
  <%= f.label "Passenger" %>
  <%= select_tag :num_tickets, options_for_select([['1',1],['2',2],['3',3],['4',4]]) %>
  <%= f.submit "Search" %>
<% end %>
